body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
  
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
  
table th,
table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.data{
    display: none;
}
form {
    padding-left: 30%;
}
.input{
	display:block;
	width:50%;
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	color:#495057;
	background-color:#fff;
	background-clip:
	padding-box;
	border:1px solid #ced4da;
	border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}
.button{
	color:#fff;
	background-color:#1EA1E8;
	border-color:#1EA1E8;
    width:50%;
    height: 10%;
    border-radius:.25rem;
    font-size: 100%;
}
.button.detail{
    margin-left: 27%;
}
table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1EA1E8;
    color: white;
    text-align: center;
}

table td {
    background-color: white;
    color: black;
    text-align: center;
}

.repodetail{
    display: none;
}

.photo {
    margin: 0 25% -25%;
    width: 30%;
}

  
@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    .photo {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {  
    .button{
        font-size: 79%;
    }
}