/* body{
    background-color: #1EA1E8;
} */

form {
    padding-left: 30%;
}
.input{
	display:block;
	width:50%;
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	color:#495057;
	background-color:#fff;
	background-clip:
	padding-box;
	border:1px solid #ced4da;
	border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}
.button{
	color:#fff;
	background-color:#1EA1E8;
	border-color:#1EA1E8;
    width:50%;
    height: 10%;
    border-radius:.25rem;
    font-size: 100%;
}
table{
    /* display: none; */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1EA1E8;
    color: white;
    text-align: center;
}

table td {
    background-color: white;
    color: black;
    text-align: center;
}
.repodetail{
    display: none;
}